<header>
    <div class="container">
        <div class="logo">
          <img src="/Assets/images/logo.png" alt="">
             <a href=""> FIT<span>ZONE</span></a>
        </div>
        <a href="javascript:void(0)" class="ham-burger">
          <span></span>	
          <span></span>
        </a>
        <div class="nav">
            <ul>
                <li><a href="/LOGIN"> تسجيل الدخول</a></li>
        
                <li><a href="/classes">عرض التماريين</a></li>
            
                <li><a href="#contact">تواصل</a></li>
            </ul>
        </div>
    </div>
</header>   `