<!DOCTYPE html>
<html>
	<%- include("./partials/head.ejs")%>
<body>
 
 <!-- Start Header  -->
 <%- include("./partials/header.ejs")%>
 <!-- End Header  -->

  <!-- Start Home -->
  <section class="home wow flash" id="home">
  	 <div class="container">
  	 	  <h1 class="wow slideInLeft" data-wow-delay="1s">It's <span>gym</span> time. Let's go</h1>
  	 	  <h1 class="wow slideInRight" data-wow-delay="1s">We are ready to <span>fit you</span></h1>
  	 </div>
  	  <!-- go down -->
  	      <a href="#about" class="go-down">
  	      	  <i class="fa fa-angle-down" aria-hidden="true"></i>
  	      </a>
  	  <!-- go down -->

  </section>
  <!-- End Home -->


 <!-- Start About -->
  <section class="about" id="about">
  	  <div class="container">
  	  	  <div class="content">
  	  	  	   <div class="box wow bounceInUp">
  	  	  	   	   <div class="inner">
  	  	  	   	   	   <div class="img">
  	  	  	   	   	   	  <img src="/Assets/images/FITZONE.jpg" alt="about" />
  	  	  	   	   	   </div>
                       <div class="text">
                       	   <h4>FIT ZONE GYM</h4>
                       	   <p></p>
                       </div>
  	  	  	   	   </div>
  	  	  	   </div>
  	  	  	   <div class="box wow bounceInUp">
  	  	  	   	   <div class="inner">
  	  	  	   	   	   <div class="img">
						<video width="320" height="240" controls autoplay>
							<source src="/Assets/videos/video.mp4" type="video/mp4" >
					
						 
						  </video>
  	  	  	   	   	   	
  	  	  	   	   	   </div>
                       <div class="text">
                       	   <h4>captain \ KHALED HUSSEN</h4>
                       	   <p></p>
                       </div>
  	  	  	   	   </div>
  	  	  	   </div>
  	  	  	   
  	  	  	  
  	  	  </div>
  	  </div>
  </section>
 <!-- End About -->


 <!-- Start Service -->
 <section class="service" id="service">
 	<div class="container">
 		 <div class="content">
 		 	  <div class="text box wow slideInLeft">
                  <h2> افضل التماريين </h2>
                  <p>مكاننا يحتوى علي جميع الاجهزة المتاحه في اي مكان اخر</p>
                  <p>جهزنا لك كل تمرينه في فيديو قصير لتتعرف علي الاشكال وطريقه لعب التمرينه بشكل صحيح </p>
                  <a href="" class="btn"> عرض</a>
 		 	  </div>
 		 	  <div class="accordian box wow slideInRight">
 		 	  	    <div class="accordian-container active">
 		 	  	    	<div class="head">
 		 	  	    		<h4>أجهزة الـكارديو</h4>
 		 	  	    		<span class="fa fa-angle-down"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>جهاز الدراجة الثابتة <BR>جهاز المشي</BR></p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  	    <div class="accordian-container">
 		 	  	    	<div class="head">
 		 	  	    		<h4>أجهزة تدريب القوة</h4>
 		 	  	    		<span class="fa fa-angle-up"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>أجهزة التمارين الأساسية  <br> الأوزان الحرة<br> جهاز سميث <br>جهاز تمرين الأرجل <br>جهاز الضغط على الصدر <br> الأجهزة ذات الأوزان المحملة <br> آلة تمرين الكابلات المتعددة <br> آلة السحب العلوية <br> الدمبل </p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  	
 		 	  	    <div class="accordian-container">
 		 	  	    	<div class="head">
 		 	  	    		<h4>خدمات أخرى</h4>
 		 	  	    		<span class="fa fa-angle-up"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>متابعه خاصه وتأهيل عسكري</p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  </div>
 		 </div>
 	</div>
 </section>
 <!-- End Service -->

<!-- Start Classes -->
<section class="classes" id="classes">
	<div class="container">
		 <div class="content">
		 	  <div class="box img wow slideInLeft">
		 	  	 <img src="/Assets/images/remove1.png" alt="classes" />
		 	  </div>
		 	  <div class="box text wow slideInRight">
		 	  	 <h2>الجيم هو وقتك لتكون أفضل نسخة من نفسك</h2>
		 	  	<div class="class-items">
		 	  	
		 	  	 <div class="item wow bounceInUp">
                     <div class="item-text">
                     	  <h4>ابدأ الآن، وليس غدًا</h4>
                     	  <p>لا ألم، لا مكسب.</p>
                     	  <a href="">فرصتك</a>
                     </div>
                     <div class="item-img">
                     	 <img src="/Assets/images/image2.jpg" alt="classes" />
                     	 <div class="price">
                     	 	100 L.E
                     	 </div>
                     </div>
		 	  	 </div>
		 	  	</div>
		 	  </div>
		 </div>
	</div>
</section>
<!-- End Classes -->

<!-- Start Today -->
 <section class="start-today">
 	<div class="container">
 		 <div class="content">
 		 	  <div class="box text wow slideInLeft">
 		 	  	 <h2>ابدأ تدريبك اليوم</h2>
 		 	  	 <p>جهزنا لك جميع الاجهزة للتمرن المتكامل  </p>
 		 	  	 <p>قوتك تأتي من داخلك  </p>
 		 	  	 <p>أنت أقوى مما تعتقد </p>
 		 	  	
 		 	  	 <a href="" class="btn">ابدأ الان</a>
 		 	  </div>
 		 	  <div class="box img wow slideInRight">
 		 	  	 <img src="/Assets/images/image8.jpg" alt="start today" />
 		 	  </div>

 		 </div>
 	</div>
 </section>
<!-- End Start Today -->

<!-- Start Schedule -->
  <section class="schedule" id="schedule">
  	 <div class="container">
  	 	  <div class="content">
  	 	  	   <div class="box text wow slideInLeft">
  	 	  	   	   <h2>جدول المواعيد</h2>
  	 	  	   	   <p>
  	 	  	   طوال الاسبوع من 1 ظهرا الي 4 فجرا
  	 	  	   	   </p>
  	 	  	   	   <img src="/Assets/images/remove3.png" alt="schedule" />
  	 	  	   </div>
  	 	  	   <div class="box timing wow slideInRight">
                   <table class="table">
                   	 <tbody>
                   	 	<tr>
                   	 		<td class="day">السبت</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الاحد</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   	 		
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الاثنين</td>
                   	 		<td><strong>من 1 صباحا الي 4 فجرا</strong></td>
                   	 	
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الثلاثاء</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   	 	
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الاربعاء</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   	 		
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الخميس</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   	 		
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">الجمعه</td>
                   	 		<td><strong>من 1 ظهرا الي 4 فجرا</strong></td>
                   	 		
                   	 		<td>كابتن خالد</td>
                   	 	</tr>
                   	 </tbody>
                   </table>
  	 	  	   </div>
  	 	  </div>
  	 </div>
  </section>
<!-- End Schedule -->

<!-- Start Gallery -->
  <section class="gallery" id="gallery">
  	 <h2>صور من التمارين والاجهزة</h2>
  	<div class="content">
  		 <div class="box wow slideInLeft">
  		 	 <img src="/Assets/images/image9.jpg" alt="gallery" />
  		 </div>
  		 <div class="box wow slideInRight">
  		 	 <img src="/Assets/images/image8.jpg" alt="gallery" />
  		 </div>
  		 <div class="box wow slideInLeft">
  		 	 <img src="images/gallery3.jpg" alt="gallery" />
  		 </div>
  		 <div class="box wow slideInRight">
  		 	 <img src="images/gallery4.jpg" alt="gallery" />
  		 </div>
  	</div>
  </section>
<!-- End Gallery -->

 <!-- Start Price -->
  <section class="price-package" id="price">
  	 <div class="container">
  	 	  <h2>عرض الأشتراك</h2>
  	 	  <p class="title-p"> سعر الاشتراك مناسب مع كفائه الصاله والاجهزه المتكاملة</p>
  	 	  <div class="content">
  	 	  	  <div class="box wow bounceInUp">
  	 	  	  	  <div class="inner">
  	 	  	  	  	   <div class="price-tag">
						شهر / 100 جنية
  	 	  	  	  	   </div>
  	 	  	  	  	   <div class="img">
  	 	  	  	  	   	 <img src="/Assets/images/image3.jpg" alt="price" />
  	 	  	  	  	   </div>
  	 	  	  	  	   <div class="text">
						<h3> Gym and Cardio     </h3>
  	 	  	  	  	   	<p> خدمه طول الاسبوع </p> 
  	 	  	  	  	   	  <p>  متابعه خطوه بخطوه</p>
  	 	  	  	  	   	  <p>    التدريب على بناء الأجسام</p>
  	 	  	  	  	   	  <p> مدرب خاص للمتابعه      </p>
  	 	  	  	  	   	  <p>   غرف تبديل الملابس    </p>
  	 	  	  	  	   	
  	 	  	  	  	  
  	 	  	  	  	   	  <a href="" class="btn"> انضم الان</a>
  	 	  	  	  	   </div>
  	 	  	  	  </div>
  	 	  	  </div>
  	 	  	
  	 	  	 
  	 	  </div>
  	 </div>
  </section>
 <!-- End Price -->

 <!-- Start Contact -->
  <section class="contact" id="contact">
     <div class="container">
        <div class="content">
            <div class="box form wow slideInLeft">
               <form>
                  <input type="text" placeholder=" الاسم">
                  <input type="text" placeholder=" الايميل ">
                  <input type="text" placeholder=" رقم الهاتف">
                  <textarea placeholder=" الرساله"></textarea>
                  <button type="submit">أرسال </button>
               </form>
            </div>
            <div class="box text wow slideInRight">
                 <h2>تواصل مع اداره صاله الحديد</h2>
                  <p class="title-p">للتواصل مع أداره الجم كابتن خالد حسين </p>
                  <div class="info">
                      <ul>
                          <li><span class="fa fa-map-marker"></span> تله الشارع الجديد اسفل عياده د/ محمد مصطفى طلعت</li>
                          <li><span class="fa fa-phone"></span> +20 1012731442 </li>
                          <!-- <li><span class="fa fa-envelope"></span> @ </li> -->
                      </ul>
                  </div>
                  <div class="social">
                       <a href=""><span class="fa fa-facebook"></span></a>
                     
                       <a href=""><span class="fa fa-skype"></span></a>
                       <a href=""><span class="fa fa-youtube-play"></span></a>
                  </div>

                  <div class="copy social">
                      Developed by &copy; Eng\Ahmed Mukhtar  <a href="www.linkedin.com/in/ahmed-mukhtar-b93841269"><span class="fa fa-linkedin"></span></a>  
                  </div>
            </div>
        </div>
     </div>
  </section>
 <!-- End Contact -->



 <!-- jquery -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){

      $(".ham-burger, .nav ul li a").click(function(){
       
        $(".nav").toggleClass("open")

        $(".ham-burger").toggleClass("active");
      })      
      $(".accordian-container").click(function(){
      	$(".accordian-container").children(".body").slideUp();
      	$(".accordian-container").removeClass("active")
      	$(".accordian-container").children(".head").children("span").removeClass("fa-angle-down").addClass("fa-angle-up")
      	$(this).children(".body").slideDown();
      	$(this).addClass("active")
      	$(this).children(".head").children("span").removeClass("fa-angle-up").addClass("fa-angle-down")
      })

       $(".nav ul li a, .go-down").click(function(event){
         if(this.hash !== ""){

              event.preventDefault();

              var hash=this.hash; 

              $('html,body').animate({
                scrollTop:$(hash).offset().top
              },800 , function(){
                 window.location.hash=hash;
              });

              // add active class in navigation
              $(".nav ul li a").removeClass("active")
              $(this).addClass("active")
         }
      })
})

</script>
</body>
</html>






